* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

p {
  padding: 20px;
  font-size: 40px;
}

h1 {
  font-size: 60px;
}

button {
  border: none;
  background-color: aqua;
  padding: 10px 20px;
  border-radius: 25px;
  margin-bottom: 20px;
}

button:hover {
  background-color: aquamarine;
}
